.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .image {
        width: 50%;
        img {
            width: 50%;
            border-radius: 10px;
            transition: 0.5s;
            &:hover {
                transform: rotate(15deg);
            }
        }
    }
    .content {
        width: 40%;
        h3 {
            margin-bottom: 50px;
        }
        hr {
            width: 50%;
            border: 1px solid #10d0bc;
        }
        p {
            margin-top: 50px;
        }
    }
}

@media (max-width: 767px) {
    .about-content {
        flex-direction: column;
        text-align: center;
        .image {
            margin-bottom: 50px;
            width: 100%;
            img {
                width: 100%;
            }
        }
        .content {
            width: 100%;
            hr {
                width: 100%;
            }
        }
    }
}