nav {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c4755;
    // logo styles
    .logo {
        img {
            width: 100px;
            cursor: pointer;
        }
    }
    // nav items styles
    .nav-items {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            
            li span {
                cursor: pointer;
                text-transform: uppercase;
                color: white;
                &:hover {
                    color: #10d0bc;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    nav {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .logo {
            margin: 10px auto;
        }
        ul {
            flex-direction: column;
        }
    }
}