nav {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // logo styles
    .logo {
        img {
            width: 40%;
        }
    }
    // nav items styles
    .nav-items {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            
            li a {
                text-decoration: none;
                text-transform: uppercase;
                color: #10d0bc;
                &:hover {
                    color: #35fde9;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    nav {
        flex-wrap: wrap;
        text-align: center;
        ul {
            flex-wrap: wrap;
        }
    }
}